body{
	font: 18px/1.3 Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	width:30em;
	margin:0 auto;
}
h1{
	font-family: Georgia,serif;
}
table{
	border: 3px solid #6495ed;
	border-collapse: collapse;
	caption-side: bottom;
}
thead, tfoot{
	background-color: #D0E3FA;
	background-image: url("sky.jpg");
	border: 2px solid #6495ed;
}
tbody{
	background-color: #FFF;
	border: 2px solid #6495ed;
}
th{
	font-family: Georgia,serif; /*Cambria*/
	border: 1px dotted #6495ed;
	padding: 0.5em;
	text-align: center;
}
#a1, #a2{
	background-color: #EFF6FF;
}
td{
	border: 1px solid #6495ed;
	padding: 0.5em;
}
caption{
	font-size: 90%;
	line-height: 1.1;
	font-style:italic;
	text-align: right;
	margin-top: 0.5em;
}